  <header class="page-header">
    <h1>Admin &raquo; Admin Dashboard Count</h1>
  </header>


  
<tr>
  <td>
    <h3>Product Count #<%= @products %></h3>
    <hr>
  </td> 
  <td>
    <h3>Categories Count #<%= @category %></h3>
  </td>
    <hr>
</tr>
