<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <br>
    <h4>The line items in the order and:</h4>
    <h4>Their image, name and description</h4>
    <h4>Their respective quantities and line item totals</h4>
    <h4>The final amount for the order</h4>
    <h4>The email that was used</h4>
    <h4>using a partial for rendering each line_item on the order details page</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
